@using LoreHelperAppBlazor.Helpers
@inject IJSRuntime JS

<div class="tree-container"
     @onwheel="Zoom"
     @onmousedown="StartPan"
     @onmouseup="EndPan"
     @onmousemove="Pan">



    <div class = "tree-viewport">
        <svg class="tree-svg">
            <g transform="translate(@_offsetX, @_offsetY) scale(@_zoom)">
                @foreach (var link in _links)
                {
                    <line x1="@link.X1" y1="@link.Y1"
                        x2="@link.X2" y2="@link.Y2"
                        stroke="#000" stroke-width="1.5" vector-effect="non-scaling-stroke" stroke-linecap="round" />
                }
            </g>    
        </svg>
        <div class="tree-content">
            @if (dynasty.Founder is not null)
            {
                <div 
                class="node-layer" 
                @ref="_nodeLayerRef"
                style="transform: translate(@_offsetXpx, @_offsetYpx) scale(@_zoom)">
                    <PersonProfile PersonProfiled="dynasty.Founder" OnNodeMeasured ="OnNodeMeasured"/>
                </div>
            }
        </div>
    </div>    
</div>


@code{
    [Parameter] public required Dynasty dynasty {get; set;}
    private ElementReference _nodeLayerRef;
    private double _baseLeft;
    private double _baseTop;
    private double _zoom = 1.0;
    private double _offsetX = 0;
    private double _offsetY = 0;
    private bool _panning = false;
    private double _startX, _startY;
    private string _offsetXpx => $"{_offsetX}px";
    private string _offsetYpx => $"{_offsetY}px";
    private readonly Dictionary<string, DomRect> _nodeRects = new();
    private readonly List<(double X1, double Y1, double X2, double Y2)> _links = new();
    private int _expectedNodeCount;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var rect = await JS.InvokeAsync<DomRect>("getBoundingClientRect", _nodeLayerRef);
            _baseLeft = rect.Left;
            _baseTop  = rect.Top;
        }
    }
    void Zoom(WheelEventArgs e)
    {
        _zoom += e.DeltaY < 0 ? 0.1 : -0.1;
        _zoom = Math.Clamp(_zoom, 0.3, 3.0);
    }
    void StartPan(MouseEventArgs e)
    {
        _panning = true;
        _startX = e.ClientX - _offsetX;
        _startY = e.ClientY - _offsetY;
    }
    void EndPan(MouseEventArgs e) => _panning = false;
    void Pan(MouseEventArgs e)
    {
        if (_panning)
        {
            _offsetX = e.ClientX - _startX;
            _offsetY = e.ClientY - _startY;
        }
    }
    private void OnNodeMeasured(NodeMeasurement m)
    {
        // m.X, m.Y are screen coords AFTER translate/scale on .node-layer
        // Invert the transform to get stable local coordinates
        double localX = (m.X - _baseLeft - _offsetX) / _zoom;
        double localY = (m.Y - _baseTop - _offsetY) / _zoom;

        var normalizedRect = new DomRect
        {
            Left = localX,
            Top = localY,
            Width = m.Width / _zoom,
            Height = m.Height / _zoom
        };

        bool changed =
            !_nodeRects.TryGetValue(m.Person.Id, out var oldRect) ||
            oldRect.Left != normalizedRect.Left ||
            oldRect.Top != normalizedRect.Top ||
            oldRect.Width != normalizedRect.Width ||
            oldRect.Height != normalizedRect.Height;

        if (changed)
        {
            _nodeRects[m.Person.Id] = normalizedRect;
            RebuildLinks();
        }
    }
    private void RebuildLinks()
    {
        _links.Clear();

        foreach (var person in dynasty)
        {
            if (!_nodeRects.TryGetValue(person.Id, out var parentRect))
                continue;

            var parentCenterX = parentRect.Left + parentRect.Width / 2;
            var parentBottomY = parentRect.Top + parentRect.Height;

            foreach (var child in person.GetChildren())
            {
                string childId = child.Id;
                if (!_nodeRects.TryGetValue(childId, out var childRect))
                    continue;

                var childCenterX = childRect.Left + childRect.Width / 2;
                var childTopY = childRect.Top;

                _links.Add((parentCenterX, parentBottomY, childCenterX, childTopY));
            }
        }
        
    }


}
