@using LoreHelperAppBlazor.Helpers

<div class="spouse-row">
    @if (Partners is not null)
    {
        @foreach (var partner in Partners)
        {
            <MainPersonCard @key="partner.Id"
                            PersonProfiled="partner"
                            OnNodeMeasured="OnNodeMeasured"
                            OnNodeRegistered = "OnNodeRegistered"/>
        }
    }
</div>

@code {
    [Parameter] public required Person PersonProfiled { get; set; }
    [Parameter] public required EventCallback<NodeMeasurement> OnNodeMeasured { get; set; }
    [Parameter] public required EventCallback<Person> OnNodeRegistered { get; set; }

    private List<Person>? Partners;

    protected override void OnParametersSet()
    {
        Partners = PersonProfiled.GetRelations([
            RelationshipType.Marriage,
            RelationshipType.Romantic,
            RelationshipType.Sexual
        ]);
    }
}