@using LoreHelperAppBlazor.Helpers
@inject IJSRuntime JS

<div class="person-wrapper">
    <div class="partner-unit">
        <MainPersonCard PersonProfiled="PersonProfiled"
                        OnNodeMeasured="OnNodeMeasured"
                        OnNodeRegistered="OnNodeRegistered" />
        @if (partners!.Any() == true)
        {
            <PartnerRow PersonProfiled="PersonProfiled"
                       OnNodeMeasured="OnNodeMeasured"
                       OnNodeRegistered="OnNodeRegistered" />
        }
    </div>
    @if(children!.Any() == true)
    {
        <div class="children-row">
            @foreach (var child in children!)
            {
                <PersonProfile @key="child.Id"
                               PersonProfiled="child"
                               OnNodeMeasured="OnNodeMeasured"
                               OnNodeRegistered="OnNodeRegistered" />

            }
        </div>
    }

</div>


@code{
    [Parameter] public required Person PersonProfiled {get; set;}
    [Parameter] public required EventCallback<NodeMeasurement> OnNodeMeasured {get; set;}
    [Parameter] public required EventCallback<Person> OnNodeRegistered {get; set;}
    private List<Person>? children;
    private List<Person>? partners;
    private Dictionary<string, ElementReference> _spouseRefs = new();
    protected override void OnInitialized()
    {
        children = PersonProfiled.GetChildren();
        partners = PersonProfiled.GetRelations([RelationshipType.Marriage, RelationshipType.Romantic, RelationshipType.Sexual]);
    }
}